In [9]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

In [10]:
contador = 0
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

while contador < len(nomes_cidades):
    print(nomes_cidades[contador])
    contador += 1

São Paulo
Londres
Tóquio
Paris

In [11]:
nomes_cidades = 'São Paulo', 'Londres', 'Tóquio', 'Paris'

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

In [12]:
cidade = {
    'nome' : 'São Paulo',
    'estado' : 'São Paulo',
    'populacao_milhoes' : 12.2
}

for chave in cidade:
    print(f'{chave}: {cidade[chave]}')

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [13]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

for nome in nomes_cidades:
    nome = 'Rio de janeiro'

print(nomes_cidades)

['São Paulo', 'Londres', 'Tóquio', 'Paris']

In [14]:
for position in range(len(nomes_cidades)):
    print(position)

0
1
2
3

In [15]:
for position in range(len(nomes_cidades)):
    nomes_cidades[position] = 'Rio de janeiro'

print(nomes_cidades)

['Rio de janeiro', 'Rio de janeiro', 'Rio de janeiro', 'Rio de janeiro']

In [16]:
# lista de 0 a 9
print(list(range(10)))

# lista de 2 a 9
print(list(range(2, 10)))

# apenas os pares(valores de 2 em 2)
print(list(range(2, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]